<html>
    <head>
        <!------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
    <form class="form-inline">
            <!--First Name-->
            <div class="form-group">
            <label class="sr-only" for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <!--Last Name-->
            <div class="form-group">
            <label class="sr-only" for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            
            <!--Submit Button-->
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </br>

            <div id="output"></div>
            </br>

            <div id="msg">
                <button id="start" type="submit">Run</button>
            </div>

            <div id="result"></div>
        
    </body>


    <script>
        $(document).ready(function() {
     $('#test').on('submit', function(event) {
       $.ajax({
          data : {
             firstName : $('#firstName').val(),
             lastName: $('#lastName').val(),
                 },
             type : 'POST',
             url  : '/process'
            })
        .done(function(data) {
          $('#output').text(data.output).show();
      });
      event.preventDefault();
      });
    });

    $(document).ready(function(){
        $('#msg').on('#start', function(event){
            $.ajax({
                type : 'POST',
                url  : '/process2' 
            })     
            //event.preventDefault();
        });
    });

    </script>



    
</html>