<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="bower_components/angular-select2/dist/angular-select2.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto complete</title>
</head>
<body>
  

  <div ng-app="autoComplete" ng-controller="myCtrl">

    <p><input type="text" ng-model="test"></p>
  
    <!-- <ul>
      <li ng-repeat="x in names | filter:test">{{x}}</li>
    </ul> -->

    <form action="">
        <select2 ng-model="values.query" s2-options="queryOptions"></select2>
        
        
    </form>

  </div>

  <script>
    angular.module('autoComplete', []).controller('myCtrl', function($scope){
      // $scope.names = [
      //   'Jani',
      //   'Carl',
      //   'Margareth',
      //   'Hege',
      //   'Joe',
      //   'Gustav',
      //   'Birgit',
      //   'Mary',
      //   'Kai'
      // ]

      $scope.queryOptions = {
        query : function(query){
          var data = {
            result : [
              {id : "1" , text : "foo"},
              {id : "2" , text : "bar"}
            ]
          };
          query.callback(data);
        }
      }


    });

  </script>

</body>
</html>